<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.Application">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Inventory and Sales Manager"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.Application.View.Employee.EmployeeOptionsView"
            android:label="@string/title_activity_employee_options"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name="com.Application.View.IntialPage" />
        <activity android:name="com.Application.View.Customer.user3" />
        <activity android:name="com.Application.View.Customer.user2" />
        <activity android:name="com.Application.View.Customer.user1" />
        <activity android:name="com.Application.View.Employee.MainActivity" />
        <activity android:name="com.Application.View.Admin.Admin" />
        <activity android:name="com.Application.View.LoginView">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>